<launch>
  <include file="$(find realsense2_camera)/launch/double.launch" />
  <include file="$(find intel_ncs2)/launch/inference_close.launch" />
  <include file="$(find darknet_ros)/launch/yolo-fastest-far.launch" />
  <include file="$(find mklc)/launch/mklc_double.launch" />
  <include file="$(find aruco_ros)/launch/try_double.launch" />
  <include file="$(find mklc)/launch/cake.launch" />
</launch>
