<?xml version="1.0" encoding="utf-8"?>

<launch>
  <node pkg="mklc" type="mklc_node" name="mklc_node" output="screen">
    <param name="camera_frame"    value="camera_color_frame"/>
    <!-- <remap from="/camera/aligned_depth_to_color/image_raw" to="/camera1/aligned_depth_to_color/image_raw"/> -->
    <!-- <remap from="/camera/aligned_depth_to_color/camera_info" to="/camera1/aligned_depth_to_color/camera_info"/> -->
  </node>
  <!-- <node pkg="tf" type="static_transform_publisher" name="central_to_world" args="0 0.897 1.0 -1.545 0 -2.32 world_frame camera_color_frame 100" /> -->
</launch>
